.footer__container {
	// height: 80px;
	// background-color: $black;
	// color: $green;
	// text-align: center;
	// line-height: 80px;
	// vertical-align: middle;
	// height: 80px;
	text-align: center;
	background-color: $black;
	color: $white;
	padding: 10px;
}